<!DOCTYPE html>
<html>
  <head>
    <title>Rbac Client</title>
    <%= stylesheet_link_tag 'base' %>
    <!--[if IE]>
      <%= stylesheet_link_tag 'iebase' %>
    <![endif]-->
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="content">
      <% if notice %><p id="notice"><%= notice %></p><% end %>
      <%= yield %>
    </div>
  </body>
</html>
